branches:
  only:
  - pelican
language: python
python:
- 2.7
install:
- pip install -r requirements.txt --use-mirrors
script:
- make publish
notifications:
  email:
    on_success: never
    on_failure: never
env:
  global:
  - secure: fjtVZfyJ7SOg1Glo3T6zYyyzf3OcBiIKY3Lx2abwNt3jIrZalTAc/T2EpeRF+0cLp4NAhHGxylD/pQahWYAw30+SBD5wghd9iBpbJmTxyWHaM9zdLHiU5M3fuSeRwRdIVSG46tLv5wulCIBDubw/b32Ewc4VfEqHtjIahBuGvr4=
before_install:
- git submodule update --init --recursive
after_success: bash deploy.sh
