{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% block head %}
  {{ super() }}
  <meta property="fb:app_id" content="{{ FACEBOOK_APPID }}" />
  <meta property="og:title" content="{{ article.title }}" />
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:description" description="{{ article.summary|striptags }}" />
  <!-- <meta property="og:image" description="" /> -->
{% endblock head %}

{% block content %}
<section id="content" class="body">

   <div class="row">
        <div class="eleven columns">


            <header>
              <h2 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                   title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
           {% import 'translations.html' as translations with context %}
           {{ translations.translations_for(article) }}
            </header>
            <footer class="post-info">
              <abbr class="published" title="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
              </abbr>
              {% if article.author %}
              <address class="vcard author">
                By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
              </address>
              {% endif %}
            </footer><!-- /.post-info -->
            <div class="entry-content">
              {{ article.content }}
            </div><!-- /.entry-content -->
            <div class="sharing">
              <!-- Facebook sharing -->
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId={{ FACEBOOK_APPID }}&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
              <div class="fb-share-button" data-href="{{ SITEURL }}/{{ article.url }}" data-type="button_count"></div>

              <!-- Twitter sharing -->
              <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            {% if DISQUS_SITENAME %}
            <div class="comments">
              <h3>Comments</h3>
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                var disqus_identifier = "{{ article.url }}";
                (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>
            </div>
            {% endif %}


        </div><!-- /.eleven.columns -->

     {% include 'sidebar.html' %}
 </div><!-- /.row -->


</section>
{% endblock %}
